<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to BookWorm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="body.css">
</head>
<body>
    <div class = "page" >
        <div class = "header" style="height: 10%;">
            <div id="col1" style="display:inline-block;">
                <a href="HomePage"><img src = "bookworm.png" width = "10%"> </a>
            </div>
            <div id="col2" style="display:inline-block;">
                <a href="Login">Login </a>
                <a href="Register"> Register </a>
            </div>
        </div>
        <br>
        <div class = "bodyBackground" style="display:flex;justify-content:center;align-items:center;">
            <div class = "Stuff">
                BookWorm: Just a Mini Program... Happy Days! <br>
            </div>
            <div class = "Form">
                <p style="color:red" th:text="${errorString}"/>
                <form action = "/SearchResults" method="post">
                    <input type = "text" name="searchInput" placeholder="Search for your favorite book!" style="width: 80vw;height: 3vh;"/> <br />
                    <input type="radio" name="type" value="name"> <label style="margin-right: 40vw">Name</label>
                    <input type="radio" name="type" value="ISBN"> ISBN <br>
                    <input type="radio" name="type" value="Author"> <label style="margin-right: 39.75vw">Author</label>
                    <input type="radio" name="type" value="Publisher"> Publisher<br>
                    <input type="submit" style= "        padding:5px 15px;
                                                            background:#1D0807;
                                                            border:0 none;
                                                            color: white;
                                                            cursor:pointer;
                                                            -webkit-border-radius: 5px;
                                                            border-radius: 5px;
                                                            z-index: 1;
                                                            position: absolute;
                                                            right:
                                                            10vw;"
                           value="Search!">
                </form>
            </div>
        </div>
    </div>
<!--        name = "Harry Potter"-->
</body>
</html>

