<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="body.css">
</head>
<body style=" color: #707070;">
    <div class="row">
        <div class="column">
            <a href="HomePage"><img src = "bookworm.png" style="height:10vh;"> </a>
        </div>
        <div class="column2">
            <form action = "/SearchResults" method="post">
                <div class ="column" style="padding-top: 5.5vh;">
                    <input type = "text" style = "height: 2vh; width: 8vw;" name="searchInput" placeholder="What book is on your mind?"/>
                    <input type="image" src="magnifying_glass.png" style="height: 2vh;" value="Submit">
                </div>
                <div class="column"style="padding-top: 5vh;">
                    <input type="radio" name="type" value="name" id="name"> <label for = "name">Name</label> <br>
                    <input type="radio" name="type" value="ISBN" id="ISBN"> <label for = "ISBN">ISBN</label>
                </div>
                <div class="column"style="padding-top:5vh;">
                    <input type="radio" name="type" value="Author" id="Author"> <label for="Author">Author</label><br>
                    <input type="radio" name="type" value="Publisher" id="Publisher"> <label for="Publisher">Publisher</label>
                </div>
            </form>
        </div>
        <div class="column3" style="float:left;">
            <th:block th:if="${sessionActive}">
                <a href="/Profile"><img src="profileIcon.png" style="height:5vh;"> </a>
            </th:block>
        </div>
    </div>
    <div style="border-top: 1px solid #ddd; color: #707070;">
        <h2>
            <p th:text="'Results for: &quot;' +${searchInput} + '&quot;'" />
        </h2>
        <table>

            <!--/*@thymesVar id="bookValues" type="ArrayList<com.cs201.model.BookValue>"*/-->
            <tr th:each="bookValue : ${bookValues}" >
                <td style="border-top: 1px dotted #ddd; ">
                    <form action = "/Details" method="post">
                        <input type="hidden" name="searchInput" th:value="${searchInput}">
                        <input type="hidden" name="type" th:value="${type}">
                        <input type="hidden" name="link" th:value="${bookValue.getBookLink()}">
                        <input type="hidden" name="title" th:value="${bookValue.getBookName()}">
                        <input type="hidden" name="author" th:value="${bookValue.getBookAuthor()}">
                        <input type="hidden" name="publisher" th:value="${bookValue.getPublisher()}">
                        <input type="hidden" name="date" th:value="${bookValue.getDate()}">
                        <input type="hidden" name="isbn" th:value="${bookValue.getIsbn()}">
                        <input type="hidden" name="summary" th:value="${bookValue.getBookSummary()}">
                        <input type="hidden" name="rating" th:value="${bookValue.getRating()}">
                        <input type="hidden" name="noRatingFound" th:value="${bookValue.getNoRatingFound()}">
                        <input type="hidden" name="bookID" th:value="${bookValue.getBookID()}">
                        <input type = "image" th:src="${bookValue.getBookLink()}" alt="No Image Found">
                    </form>
                </td>
                <td style="border-top: 1px dotted #ddd; ">
                    <!--/*@thymesVar id="bookValues.book" type="ArrayList<com.cs201.model.BookValue>"*/-->
                    <p style="font-size: 20pt; " th:text="${bookValue.getBookName()}"/>
                    <!--/*@thymesVar id="bookAuthor" type="java.lang.String"*/-->
                    <p style="font-size: 15pt;font-style: italic; " th:text="${bookValue.getBookAuthor()}"/>
                    <!--/*@thymesVar id="bookSummary" type="java.lang.String"*/-->
                    <p th:inline="text"><b> Summary: </b> [[${bookValue.getBookSummary()}]] </p>
<!--                    <p th:text="'Summary'+${bookValue.getBookSummary()}"/>-->
                </td>
            </tr>
        </table>
    </div>

</body>
</html>